.bg-img {
    width: 100%; 
    background-image: url('../../../assets/hero-countdown.jpg');
    background-position: center center;
    height: 20vh;
    overflow: hidden;
    background-size: cover;
}


.bg-text {
    padding-top : 8vh;
    font-family: 'Dancing Script', cursive;
}