p {
  font-family: 'Dancing Script', cursive;
}

.bg-img {
  position: relative;
  width: auto;
  //   background-image: url('../../../assets/bell-and-blossom-wood-gate.jpg');
  background-image: url('../../../assets/erol-ahmed.jpg');
  background-position: center center;
  height: 250px;
  overflow: hidden;
  background-size: cover;
}

.bg-img-txt-group {
  top: 50px;
}
