p {
  font-family: 'Dancing Script', cursive;
}

.bg-img {
  position: relative;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  background-image: url('../../../assets/photoshoot/Pioneer-2.jpg');
  background-position: center center;
  height: 400px;
}

.bg-img-txt-group {
  top: 50px;
}
