

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <p class="h2">Wedding Day</p>
            <p class="h4">Thursday, 18 November 2021</p>
            <p class="h4">4:30 PM</p>

            <p class="h5 mt-3">Bell and Blossom Wedding Venue</p>
            <p class="h5">721 Klippan Street, Pretoria, GP, 0151, South Africa</p>
        </div>
        
    </div>

    <!-- <div class="row mt-4 mb-4">
        <div class="col">
            <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=834&amp;height=200&amp;hl=en&amp;q=Bell and blossom Wedding Venue&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=d1c3a6b415f6bb235b07ae275b84ae4eaeca33a6'></script>
        </div>
    </div> -->

    <hr/>

    <div class="row">
        <div class="col text-center">
            <p class=""></p>
        </div>
        <div class="col text-center">
            <p class="h3">4:30 PM</p>
        </div>
        <div class="col text-center">
            <p class="h3">Ceremony</p>
        </div>
        <div class="col text-center">
            <p class=""></p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col text-center">
            <p class=""></p>
        </div>
        <div class="col text-center">
            <p class="h3">5:15 PM</p>
        </div>
        <div class="col text-center">
            <p class="h3">Pre-Reception</p>
        </div>
        <div class="col text-center">
            <p class=""></p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col text-center">
            <p class=""></p>
        </div>
        <div class="col text-center">
            <p class="h3">6:00 PM</p>
        </div>
        <div class="col text-center">
            <p class="h3">Reception</p>
        </div>
        <div class="col text-center">
            <p class=""></p>
        </div>
    </div>

    <hr>

</div>


<div class="bg-img">

</div>

<div class="text-center">
    
</div>
