.script {
  font-family: 'Dancing Script', cursive;
}

.bg-img {
  position: relative;
  width: 100%;
  background-image: url('/assets/bellandblossom-gate-garden.jpg');
  background-position: center center;
  height: 250px;
  overflow: hidden;
  background-size: cover;
}

.bg-img-header {
  position: relative;
  width: 100%;
  background-image: url('/assets/bellblossomgateclosed.jpg');
  background-position: center center;
  height: 90px;
  overflow: hidden;
  background-size: cover;
  color: #fff;
}

.bg-img-header-text {
  margin-top: 35px;
}

// 970×90	
