.bg-img {
    width: 100%; 
    background-image: url('../../../assets/bellblossomchapel-crop.jpg');
    background-position: center -140px;
    height: 500px;
    overflow: hidden;
    background-size: cover;
}
