<div class="container text-center p-5">
    <div class="row">
        <div class="col-lg-6">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/101603648_2538836243098475_5784150165396914176_o.jpg?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_ohc=r4xsg-uNl0sAX8uN4dK&_nc_ht=scontent-jnb1-1.xx&oh=9a0e8d1782dbcc8f07aa9e61ec409f75&oe=60403E0A">

            <h2>The Groom</h2>
            <p class="h5">
                Heinrich Venter
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/52436944_2400929986593621_7621369043835944960_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=bQIN_r8EcegAX8NE3ra&_nc_ht=scontent-jnb1-1.xx&oh=020810f99a0eeb0134991a5fc37b4c61&oe=603FE6C5">

            <h2>The Bride</h2>
            <p class="h5">
                Daynnah Blignaut
            </p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>

<div style="width: 100%;" class="bg-img">

</div>

<div class="container text-center p-5">
    <div class="row mt-5">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/101603648_2538836243098475_5784150165396914176_o.jpg?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_ohc=r4xsg-uNl0sAX8uN4dK&_nc_ht=scontent-jnb1-1.xx&oh=9a0e8d1782dbcc8f07aa9e61ec409f75&oe=60403E0A">

            <h2>Best Man</h2>
            <p class="h5">
                Francois Jansen
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/52436944_2400929986593621_7621369043835944960_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=bQIN_r8EcegAX8NE3ra&_nc_ht=scontent-jnb1-1.xx&oh=020810f99a0eeb0134991a5fc37b4c61&oe=603FE6C5">

            <h2>Groomsman</h2>
            <p class="h5">
                Dillan Prentis
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/52436944_2400929986593621_7621369043835944960_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=bQIN_r8EcegAX8NE3ra&_nc_ht=scontent-jnb1-1.xx&oh=020810f99a0eeb0134991a5fc37b4c61&oe=603FE6C5">

            <h2>Groomsman</h2>
            <p class="h5">
                Stefan Harris
            </p>
        </div><!-- /.col-lg-4 -->
    </div>


    <div class="row mt-3">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/101603648_2538836243098475_5784150165396914176_o.jpg?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_ohc=r4xsg-uNl0sAX8uN4dK&_nc_ht=scontent-jnb1-1.xx&oh=9a0e8d1782dbcc8f07aa9e61ec409f75&oe=60403E0A">

            <h2>Bridesmaid</h2>
            <p class="h5">
                Kayla
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/52436944_2400929986593621_7621369043835944960_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=bQIN_r8EcegAX8NE3ra&_nc_ht=scontent-jnb1-1.xx&oh=020810f99a0eeb0134991a5fc37b4c61&oe=603FE6C5">

            <h2>Bridesmaid</h2>
            <p class="h5">
                Sam
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/52436944_2400929986593621_7621369043835944960_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=bQIN_r8EcegAX8NE3ra&_nc_ht=scontent-jnb1-1.xx&oh=020810f99a0eeb0134991a5fc37b4c61&oe=603FE6C5">

            <h2>Bridesmaid</h2>
            <p class="h5">
                Chantelle
            </p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>