<app-wedding-date-countdown></app-wedding-date-countdown>

<div class="text-center">
    <p class="mt-3 h3 script">
        Together with their families
    </p>
    <p class="h3 script">
        Daynnah Blignaut & Heinrich Venter
    </p>
    <p class="h3 script">
        Invite you to join them as they say "I Do!"
    </p>
</div>



<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <p class="h2">Wedding Day Information</p>

            <p class="h5 mt -2">Thursday, 18 November 2021</p>
            <p class="h5">16:30</p>

            <a style="text-decoration: none;" target="_blank" href="https://goo.gl/maps/gnNoJy5pKfMcGYVV7" class="h5 link-dark">
                Bell and Blossom Wedding Venue
                <br>
                721 Klippan Street, Pretoria, GP, 0151, South Africa
            </a>

        </div>

    </div>

    <hr />

    <div class="row">
        <div class="col text-center">
            <p class=""></p>
        </div>
        <div class="col text-center">
            <p class="h3">4:30 PM</p>
        </div>
        <div class="col text-center">
            <p class="h3">Ceremony</p>
        </div>
        <div class="col text-center">
            <p class=""></p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col text-center">
            <p class=""></p>
        </div>
        <div class="col text-center">
            <p class="h3">5:15 PM</p>
        </div>
        <div class="col text-center">
            <p class="h3">Pre-Reception</p>
        </div>
        <div class="col text-center">
            <p class=""></p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col text-center">
            <p class=""></p>
        </div>
        <div class="col text-center">
            <p class="h3">6:00 PM</p>
        </div>
        <div class="col text-center">
            <p class="h3">Reception</p>
        </div>
        <div class="col text-center">
            <p class=""></p>
        </div>
    </div>

    <hr>


</div>




<div class="bg-img">

</div>

<div class="text-center">

</div>
