<div class="row mt-2 mb-5" style="width: 100vw;">
    <div class="col-10" style="width: 100vw;">
        <ul class="nav nav-tabs" style="width: 100vw;">
            <li class="nav-item pointer">
                <a class="nav-link" [class.active]="activeTab == 'guests'" aria-current="page"
                    (click)="initGuests()">Guests</a>
            </li>
            <li class="nav-item pointer">
                <a class="nav-link" [class.active]="activeTab == 'tables'" aria-current="page"
                    (click)="initGuestTables()">Guest Tables</a>
            </li>
        </ul>

        <ng-container *ngIf="activeTab == 'guests'">

            <div class="d-flex justify-content-end mt-2 mb-2 p-1" style="width: 100vw;">

                <div>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#manage-new-guest">
                        Add New Guest
                    </button>
                </div>
            </div>

            <div class="d-flex justify-content-around mt-2 mb-2 p-1" style="width: 100vw;">
                <div class="mt-2">
                    <span>Guests Total: {{getGuestCount()}}</span>
                </div>
                <div class="mt-2">
                    <span>Guests Coming: {{getGuestCountByStatus('Coming')}}</span>
                </div>
                <div class="mt-2">
                    <span>Guests Not Coming: {{getGuestCountByStatus('CantMakeIt')}}</span>
                </div>
                <div class="mt-2">
                    <span>Guests Pending: {{getGuestCountByStatus('Pending')}}</span>
                </div>
            </div>

            <div class="row w-100">
                <div class="col-12">
                    <table class="table" style="width: 100vw;">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">Guest Type</th>
                                <th class="text-center" scope="col">First Name</th>
                                <th class="text-center" scope="col">Last Name</th>
                                <th class="text-center" scope="col">Email Address</th>
                                <th class="text-center" scope="col" *ngIf="isDesktop">Invite Sent</th>
                                <th class="text-center" scope="col" *ngIf="isDesktop">Response</th>
                                <th class="text-center" scope="col" *ngIf="isDesktop"></th>
                                <th class="text-center" scope="col" *ngIf="isDesktop"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let guest of guests;let guestIndex=index;">
                                <tr [class.bg-danger]="guest.response === 'CantMakeIt'"
                                    [class.bg-success]="guest.response === 'Coming'"
                                    [class.text-white]="guest.response === 'CantMakeIt' || guest.response === 'Coming'">
                                    <th class="text-center" scope="row">
                                        <i class="bi bi-person-bounding-box"></i>
                                    </th>
                                    <td class="text-center">{{guest.fname}}</td>
                                    <td class="text-center">{{guest.sname}}</td>
                                    <td class="text-center">{{guest.email}}</td>
                                    <td class="text-center" *ngIf="isDesktop">
                                        <i class="bi" [class.bi-x]="!guest.inviteSent"
                                            [class.bi-check]="guest.inviteSent"></i>
                                    </td>
                                    <td class="text-center" *ngIf="isDesktop">
                                        <i class="bi" [class.bi-hourglass]="guest.response === 'Pending'"
                                            [class.bi-x]="guest.response === 'CantMakeIt'"
                                            [class.bi-check]="guest.response === 'Coming'"></i>
                                    </td>

                                    <td *ngIf="isDesktop" class="text-center">
                                        <input [(ngModel)]="guest.emailTitle" class="form-control" type="text"
                                            placeholder="Email Title">
                                    </td>

                                    <td>
                                        <button data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Send Invitation Email"
                                            (click)="sendInviteEmail(guest.guestId, guest.emailTitle)"
                                            *ngIf=" !guest.inviteSent" [class.text-white]="guest.response !== 'Pending'"
                                            class="btn btn-outline-secodary mr-1">
                                            <i class="bi bi-envelope"></i>
                                        </button>

                                        <button data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Send Reminder Email"
                                            (click)="sendReminderEmail(guest.guestId, guest.emailTitle)"
                                            *ngIf="guest.inviteSent" [class.text-white]="guest.response !== 'Pending'"
                                            class="btn btn-outline-secodary mr-1">
                                            <i class="bi bi-bell"></i>
                                        </button>

                                        <button data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Guest"
                                            [class.text-white]="guest.response !== 'Pending'"
                                            class="btn btn-outline-secodary" (click)="removeGuest(guest.guestId)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                                <ng-container *ngIf="guest.guestParties">
                                    <tr [class.bg-danger]="guestParty.response === 'CantMakeIt'"
                                        [class.bg-success]="guestParty.response === 'Coming'"
                                        [class.text-white]="guestParty.response === 'CantMakeIt' || guestParty.response === 'Coming'"
                                        *ngFor="let guestParty of guest.guestParties;let guestPartyIndex=index;">
                                        <th class="text-center" scope="row">
                                            <i class="bi bi-person"></i>
                                        </th>
                                        <td class="text-center">{{guestParty.fname}}</td>
                                        <td class="text-center">{{guestParty.sname}}</td>
                                        <td class="text-center"></td>
                                        <td class="text-center" *ngIf="isDesktop">
                                            <i class="bi" [class.bi-x]="!guestParty.inviteSent"
                                                [class.bi-check]="guestParty.inviteSent"></i>
                                        </td>
                                        <td class="text-center" *ngIf="isDesktop">
                                            <i class="bi" [class.bi-hourglass]="guestParty.response === 'Pending'"
                                                [class.bi-x]="guestParty.response === 'CantMakeIt'"
                                                [class.bi-check]="guestParty.response === 'Coming'"></i>
                                        </td>
                                        <td class="text-center" *ngIf="isDesktop">
                                            <input [(ngModel)]="guestParty.emailTitle" class="form-control" type="text"
                                                placeholder="Email Title">
                                        </td>


                                        <td *ngIf="isDesktop">
                                            <button data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Send Invitation Email"
                                                (click)="sendInviteEmail(guestParty.guestId, guestParty.emailTitle)"
                                                *ngIf="!guestParty.inviteSent"
                                                [class.text-white]="guestParty.response !== 'Pending'"
                                                class="btn btn-outline-secodary mr-1">
                                                <i class="bi bi-envelope"></i>
                                            </button>

                                            <button data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Send Reminder Email"
                                                (click)="sendReminderEmail(guestParty.guestId, guestParty.emailTitle)"
                                                *ngIf="guestParty.inviteSent"
                                                [class.text-white]="guestParty.response !== 'Pending'"
                                                class="btn btn-outline-secodary mr-1">
                                                <i class="bi bi-bell"></i>
                                            </button>

                                            <button data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Remove Guest"
                                                [class.text-white]="guestParty.response !== 'Pending'"
                                                class="btn btn-outline-secodary"
                                                (click)="removeGuestParty(guestParty.guestPartyId)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>

                            </ng-container>


                        </tbody>
                    </table>
                </div>
            </div>

        </ng-container>


        <ng-container *ngIf="activeTab == 'tables'">

        </ng-container>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="manage-new-guest" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Guest</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-manage-guest></app-manage-guest>
            </div>
        </div>
    </div>
</div>