<div class="container">
    <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Where is Bell & Blossom located ?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Shankle kevin buffalo, chislic pork belly pig short loin biltong strip steak short ribs. Boudin
                    picanha salami,
                    brisket alcatra swine filet mignon corned beef chicken. Kielbasa flank doner turkey pancetta
                    burgdoggen.
                    Shoulder short loin pork belly, bresaola kevin buffalo meatball ribeye frankfurter. Jerky sausage
                    doner flank
                    meatball shankle porchetta, corned beef pancetta jowl landjaeger cow. Turducken pork chop swine beef
                    jowl, ball
                    tip sirloin.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Are we allowed to "Car-Bar" ?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Shankle kevin buffalo, chislic pork belly pig short loin biltong strip steak short ribs. Boudin
                    picanha salami,
                    brisket alcatra swine filet mignon corned beef chicken. Kielbasa flank doner turkey pancetta
                    burgdoggen.
                    Shoulder short loin pork belly, bresaola kevin buffalo meatball ribeye frankfurter. Jerky sausage
                    doner flank
                    meatball shankle porchetta, corned beef pancetta jowl landjaeger cow. Turducken pork chop swine beef
                    jowl, ball
                    tip sirloin.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Why aren't kids allowed ?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Shankle kevin buffalo, chislic pork belly pig short loin biltong strip steak short ribs. Boudin
                    picanha salami,
                    brisket alcatra swine filet mignon corned beef chicken. Kielbasa flank doner turkey pancetta
                    burgdoggen.
                    Shoulder short loin pork belly, bresaola kevin buffalo meatball ribeye frankfurter. Jerky sausage
                    doner flank
                    meatball shankle porchetta, corned beef pancetta jowl landjaeger cow. Turducken pork chop swine beef
                    jowl, ball
                    tip sirloin.
                </div>
            </div>
        </div>
    </div>

</div>