<app-wedding-date-countdown></app-wedding-date-countdown>
<div class="container text-center">

    <p class="mt-3">
        Shankle kevin buffalo, chislic pork belly pig short loin biltong strip steak short ribs. Boudin picanha salami,
        brisket alcatra swine filet mignon corned beef chicken. Kielbasa flank doner turkey pancetta burgdoggen.
        Shoulder short loin pork belly, bresaola kevin buffalo meatball ribeye frankfurter. Jerky sausage doner flank
        meatball shankle porchetta, corned beef pancetta jowl landjaeger cow. Turducken pork chop swine beef jowl, ball
        tip sirloin.
    </p>
    <p>

        Chuck doner beef, frankfurter pig sausage pork loin. Chuck ball tip ham pastrami boudin burgdoggen filet mignon
        short loin fatback porchetta hamburger sirloin jerky flank. Drumstick rump tenderloin bresaola. Sausage sirloin
        andouille filet mignon flank picanha. Porchetta meatball biltong, fatback picanha ham hock chuck kielbasa
        shankle rump tri-tip sirloin corned beef sausage turducken.

    </p>
    <p>
        Ball tip brisket pork chop, pork loin sunt fugiat non drumstick excepteur strip steak rump kevin ham. Flank non
        bresaola drumstick. Eiusmod jerky brisket shoulder, elit tri-tip kielbasa sirloin. Exercitation pig beef ribs
        minim,
        reprehenderit alcatra meatball tri-tip dolore boudin pancetta occaecat burgdoggen short ribs do. Swine pancetta
        brisket bresaola spare ribs, pork eu venison veniam deserunt et. Dolore qui spare ribs incididunt, et aliquip
        ullamco frankfurter ham hock nostrud commodo. Dolor dolore flank burgdoggen, leberkas strip steak ex proident
        chislic duis andouille sirloin ut brisket ullamco.
    </p>

    <p>
        Minim ball tip shankle, cupim landjaeger ut strip steak incididunt filet mignon aute velit biltong sed ut
        t-bone.
        Dolore incididunt quis anim minim alcatra leberkas. Ball tip ullamco turkey, alcatra pancetta landjaeger velit
        dolore occaecat andouille sunt proident shoulder beef ribs ex. Et dolore commodo frankfurter. Deserunt enim
        kevin
        beef ball tip short loin. Shoulder eiusmod commodo, et burgdoggen consequat ball tip.
    </p>

    <p>
        Consectetur picanha ham biltong pork belly, kevin velit fugiat nisi. Flank anim swine cow chislic beef ribs et
        esse
        consectetur pork loin ut. Consectetur tri-tip ullamco pork chop short loin kevin ut. Venison veniam aute short
        ribs
        buffalo pig ground round. Landjaeger sausage ipsum kielbasa, nulla exercitation excepteur ut cupim mollit. Kevin
        short loin nostrud andouille, veniam officia pork loin aliqua shankle pork chop shoulder ground round
        frankfurter et
        bresaola.
    </p>
</div>