@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

* {
  font-family: 'Roboto', sans-serif;
}

.pointer {
  cursor: pointer !important;
}

.w-100 {
  width: 100% !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
